@keyframes slide-in {
  from {
    translate: -5px;
  }

  to {
    translate: 5px;
  }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(255, 117, 66);
}

h1{
    text-align: center;
}

button{
    padding: 1vh;
    border: none;
}

ul{
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

header a{
    color: inherit;
}

.error{
    color: red;
    width: 100%;
    font-size: bold;
}

.logo{
    width: 20vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

body{
    height: auto;
    padding: 2vh 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
}

form>div{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.selectForm{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}

td, th{
    padding: 1vw;
    border: 1px solid black;
    text-align: center;
}

th{
    word-break: keep-all;
}

.scroll{
    width: 100%;
    overflow-x: scroll;
}

.message{
    width: 100%;
    padding: 2vw;
    background-color: lightgreen;
    display: flex;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;

}

.slider button:hover{
    animation: 1s infinite alternate slide-in;
}

.sliderInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderInfo>img{
    height: 400px;
    width: 500px;
    border-radius: 5px;
}

.indexInfo{
    display: flex;
    gap: 1vw;
}

@media screen and (max-width: 600px) {
    .sliderInfo>img{
    height: 200px;
    width: 250px;
    border-radius: 5px;
    }
    
    form{
        width: 100%;
    }

    .indexInfo{
        flex-direction: column;
    }

    header, ul{
        flex-direction: column;
    }
}